.App {
  max-width: 600px;
 margin:30px auto;
  margin-top: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin-bottom: 5px;
}
body {
  background-image:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(./image-img.jpg/flower.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
 footer  {
  font-size: 12px;
  letter-spacing: 1.5px;
 color:  white;
 display: flex;
 justify-content: center;
 background-color: rgb(0, 0, 0,0.5);
 max-width: 600px;
 margin-left: auto;
 margin-right: auto;
}

footer a {
  margin-left: 3px;
  margin-right: 3px;
}
a {
  display: flex;
  justify-content: center;
  color:white;
  font-size: 12px;
}
.form-control {
  width:470px;
  font-size: 14px;
  caret-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255, 0.6);
  height: 35px;
  border: 0.5px rgb(255, 253, 253, 0.5) solid;
  border-radius: 20px;
  background-color:rgba(0, 0, 0, 0.5);
  outline: none;
  font:rgb(255, 255, 255, 0.7);
  letter-spacing: 2px;
  padding: 30px auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-right: 10px;
}

.btn-primary {
  width: 80px;
  font-size: 14px;
  caret-color: white;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255, 0.6);
  letter-spacing: 1px;
  height: 35px;
  border: 0.5px rgb(255, 253, 253, 0.5) solid;
  border-radius: 20px;
  background-color:rgba(0, 0, 0, 0.5);
  outline: none;
  letter-spacing: 2px;
  padding: 30px auto;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 3px 6px, rgba(0, 0, 0, 0.50) 0px 3px 6px;
}
.btn-primary:hover {
  background-color:  rgba(251, 251, 252, 0.1);
  cursor: pointer;
  border:0.5px rgb(253, 251, 251,0.5) solid;
  padding: 10px auto ;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: 400ms ease-in-out;
}

.row-submit {
  display: flex;
  padding: 15px;
}
.form-control::placeholder {
  letter-spacing: 2px;
  padding: 8px;
  caret-color: rgb(255, 255, 255);
}
@media only screen and (max-width: 500px) {
    .App {
      max-width: 100%;
      padding: 10px;
      margin: 5px;
      border-radius: 0;
      box-shadow: none;
    }
  
    .form-control {
      width: 100%;
      caret-color: white;
    
    }
    .col-3 {
      margin-left: 10px;
    }
    .col-9 {
      width: 100%;
    }
    footer, a {
      letter-spacing: normal;
      font-size: 8px;
    }
  }
