.WeatherForecast {
    justify-content: space-evenly;
    padding: 5px;
    display: flex;
    flex-direction: row; 
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px 1px rgb(0, 0, 19);
   
  }
  .WeatherForecast-day {
    text-decoration: underline;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: large;
    text-shadow: 1px 1px 1px 1px rgb(0, 0, 8);
  }
  .col {
    text-align: center;
    box-shadow: rgba(253, 253, 253, 0.6) 0px 2px 4px, rgba(253, 253, 253, 0.4) 0px 7px 13px -3px, rgba(252, 251, 251, 0.5) 0px -3px 0px inset;
    padding: 15px;
    background: rgb(0, 0, 0);
  }
  .WeatherForecast-temperature-min {
    opacity: 0.9;
   
    text-shadow: 1px 1px 1px 1px rgba(0, 0, 37);
  }
  @media only screen and (max-width: 400px) {
    .WeatherForecast {
      flex-direction: column;
    }
    .whole-col {
     display: flex;
    }
    .col {
      padding: 0%;
      justify-content: space-evenly;
      flex-direction: none;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5), 0px 7px 13px -3px rgba(0, 0, 0, 0.4), inset 0px -3px 0px rgba(0, 0, 0, 0.3);
      
    }
   .WeatherForecast-day, .WeatherForecast-temperatures {
    padding: 20px 0;
    font-size: 17px;
    box-shadow: -20px 0 10px -20px rgba(0,0,0,0.60) inset;
    width: 128px;
    text-decoration: none;
    justify-content: space-evenly;
   }
   .WeatherForecast-temperatures {
    font-size: 22px;
   }
   .row-weather {
    flex-direction: column;
   }
    }
   

  