.Weather {
  background-image: linear-gradient(rgba(5, 30, 95, 0.2), rgba(4, 14, 102, 0.1)),url(./image-img.jpg/sky1.jpg);
  background-size: cover;
  background-repeat:none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    text-shadow:  1px 1px 1px rgba(0, 0, 37,0.5);
  }
 
  .Weather h1 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 0;
    line-height: 29px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(2, 2, 100, 0.8);
    display: flex;
    justify-content: center;
    letter-spacing: 1.5px;
  }
  p{
    display: flex;
    justify-content: left;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: rgba(0, 0, 0, 0.40) 0px 3px 6px, rgba(0, 0, 0, 0.50) 0px 3px 6px;
   border-radius: 10px;
   margin: 0;
   opacity: 0.9;
   
  }
  
  .Weather ul {
    margin: 0;
    padding: 0;
  }
  
  .Weather li {
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    list-style: none;
    display: flex;
    justify-content:center;
    margin: 5px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);

  }
  
  .Weather .temperature  {
    font-weight: bold;
    color: rgba(248, 248, 250, 0.9);
    font-size: 60px;
    line-height: 64px;
    display: inline-flex;
    justify-content: center;
    margin: 10px auto;
    text-shadow:1px 1px 1px rgba(0, 0, 37);
  }

  .container-temp{
    display: flex;
    justify-content: center;
    margin-right: 0px;
    margin-left: 20px;
    
  }
  .Weather .unit {
    color: rgb(248, 242, 242, 0.7);
    font-size: 30px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
    display: inline-flex;
    justify-content: center;
   
  }
  .WeatherInfo {
    border-radius: 8px;
    text-align: center;
    padding: 10px;
   
  }
 
  .ul-container {
    justify-content: space-evenly;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr; 
  border-radius: 8px;
  }
  .ul-container ul {
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px, rgba(0, 0, 0, 0.4) 0px 7px 13px -3px, rgba(0, 0, 0, 0.5) 0px -3px 0px inset;
    border-radius: 10px;
    justify-content: space-evenly;
    background-color: rgba(0, 81, 255, 0.5);
    padding: 10px;
  }
  .row-weather{
    display: flex;
    justify-content:space-evenly;
    
  }
 img {
  width: 60px;
 }
 #icon {
  width: 200px;
  height: 200px;
  padding: 0;
 }