.Weather {
background-color: rgb(0, 0, 0,0.7);
  background-size: cover;
  background-repeat: no-repeat;
    font-family: Google Sans,Roboto,arial,sans-serif;
    padding: 5px;
   color: rgb(255, 255, 255);
    
  }
 
  .Weather h1 {
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 5px;
    line-height: 60px;
    color: rgb(255, 255, 255);
    text-shadow:  0px 0px #0A0A0A;
    display: flex;
    justify-content: center;
    letter-spacing: 1.5px;
  }
  p{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
  font-family: Google Sans,Roboto,arial,sans-serif;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
   opacity: 0.9;
   letter-spacing: 0.5px;
  }
  
  .Weather ul {
    margin: 0px;
    padding: 0;
  }
  
  .Weather li {
    font-size: 16px;
    font-weight: bold;
    list-style: none;
    display: flex;
    justify-content:center;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: 1px;
    color: rgb(252, 252, 252);

  }
  
  .Weather .temperature  {
    color: rgba(254, 254, 255, 0.9);
    font-size: 90px;
    line-height: 50px;
    display: inline-flex;
    justify-content: center;
    top: -20px;
    margin: 10px auto;
    margin-left: 60px;
    margin-bottom: 0;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
      }

  .container-temp{
    display: flex;
    justify-content: center;
    margin-right: 0px;
    margin-left: 20px;
  }
  .Weather .unit  {
    color: rgba(255, 255, 255, 0.8);
    font-size: 26px;
    top: -40px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
  }
 
.WeatherInfo a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 26px;
  font-weight: 400;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

  .WeatherInfo  {
    text-align: center;
   padding: 5px;
  }
 
  .ul-container {
    justify-content: space-evenly;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .ul-container ul {
    justify-content: space-evenly;
    background-color:rgba(0, 0, 0, 0.7);
    padding: 10px;
  padding-top: 0;
  box-shadow: rgba(235, 233, 233, 0.40) 0px 3px 8px;
  }
  ul:hover {
    background-color:rgba(0, 0, 0, 0.7);
    transition: 400ms ease-in-out;
  }
  .row-weather{
    display: flex;
    justify-content:space-evenly;
    
  }
.col:hover {
  background-color: rgb(0, 0, 0,0.5);
  transition: 400ms ease-in-out;
}
img {
 width: 60px;
 }
 #icon {
 width: 160px;
 height: 160px;
 }

 @media only screen and (max-width: 500px) {
.ul-container ul {
  padding: 8px 0;
  padding-top: 0;
}
.Weather {
  padding: 10px;
}
.Weather .temperature {
  margin-left: 60px;
 }
 #icon {
 padding: 0;
 }
}
